.slidshow-container h1{
    text-transform: capitalize;
    font-size: 30px;
    position: relative;
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
  }
  .slidshow-container h1::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #265df2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .slidshow-container p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-style: double;
  }
  .slide {
    display: none;
  }
  .slidshow-container {
    position: relative;
    width: 95%;
    margin: auto;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    opacity: 70%;
    transition: 0.3s ease;
    user-select: none;
  }
  .next {
    right:0%;
  }
  .prev:hover,
  .next:hover {
    background-color: #7c8c3c;
  }
  .sliderImages {
    width: 100%;
    border-radius: 20px;
  }
  
.slide-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}