/* Styling for the form container */
*{
    
    padding: 0;
    background-color:  #24252A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form-container {
   
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
  }
  
  /* Styling for the form heading */
  .form-container h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }
  
  /* Styling for the error message */
  .error-msg {
    display: block;
    background-color: #ffe6e6;
    color: #ff1a1a;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  /* Styling for the input fields */
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Styling for the submit button */
  .form-btn {
    background-color: #7C8C3C ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Styling for the "Turn back" button */
  #btn-back {
    background-color: #ccc;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  /* Styling for the "register now" and "login now" links */
  .form-container p {
    text-align: center;
    margin-top: 20px;
    color: white;
  }
  
  .form-container p a {
    color: #7C8C3C ;
    text-decoration: none;
  }
  
  .form-container p a:hover {
    text-decoration: underline;
  }
  