

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 }
 
 .logo {
   font-size: 24px;
   font-weight: bold;
   text-transform: uppercase;
 }
 
 .navigation {
   display: flex;
   align-items: center;
 }
 
 .navigation a {
   margin-right: 20px;
   color: #333;
   text-decoration: none;
 }
 
 .navigation a:hover {
   color: #999;
 }
 