/*
body {
    font-family: "Times New Roman", Georgia, Serif;
  }
  h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
  }
  /*.bar{
    letter-spacing: 4px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
  }*/
  
  /*.display-container{
    position: relative;
  }*/
  /*.img{
    width: auto;
    height: 3%;
    object-fit: contain;
  }
  .content{
    max-width: 1100px;
    padding-top: 40px;
    padding-right: 20px;
  }
  
  /*.menu{
    width: 100%;
  }*/
  
  /*.top{
    text-align: left;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c29e31;
    color: #333;
  }*/
/*events*/
.postcard {
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  float: left;
  transition: transform 0.2s;
}
.postcard:active {
  transform: translateY(3px);
}
.postcard img {
  width: 100%;
  height: 200px;
}
.postcard p {
  padding: 20px;
  text-align: center;
}
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(220, 166, 86);
    height: 50px;
  }
  .logo{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .logo i{
    color: rgb(250, 250, 250);
    font-size: 28px;
    margin-left: 100px;
  }
  .logo span{
    color: rgb(14, 13, 13);
    font-size:1.1rem ;
    font-weight:600 ;
  }

  .navbar{
    justify-content: center;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar li{
    margin: 0 20px;
  }
  .main a:not(.user) {
    margin-left: 20px;
  }
  .navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
    text-decoration: none;
  }
  .navbar a:hover{
    color:rgb(241, 241, 241) ;
  }
  .navbar a.bar-item-btn{
    color:rgb(255, 253, 253) ;
  }
  
  .main{
    display: flex;
    text-align: center;
    justify-content:right ;
    top: 10px;
  }
  .main a{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
  }
  .user{
    display: flex;
    align-items: center;
  }
  .user i{
    color:rgb(255, 255, 255) ;
    font-size: 20px;
  }
  .main a:hover{
    color:rgb(255, 251, 251) ;
  }
  #menu-icon{
      font-size: 25px;
      color: black;
      cursor: pointer;
      z-index: 10001;
  } 
  
  .klasa1 {
    display: flex;
    align-items: right;
  }
  
  .about{
    width: 600px;
    height: 600px;
    float: right;
    margin: 10px;
    padding-left: 50px;
  }

  /*Kjo eshte per responsive*/
  @media(max-width:1280px){
    header{
      padding: 14px 2%;
      transition: .2s;
    }
    .navbar a{
      padding: 5px 0;
      margin: 0px 20px;
    }
  }
  @media(max-width:1090px){
    #menu-icon{
      display: block;
    }
    .navbar{
      position: absolute;
      top: 5%;
      right: 2%;
      width: 270px;
      height: 35vh;
      background: rgb(220, 166, 86);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
    }
    .navbar a{
      display: block;
      margin: 12px 0;
      padding: 0px 25px;
      transition: all .50s ease;
    }
    .navbar a:hover{
      color: white;
      transform: translateY(5px);
    }
    .navbar a:active  {
      color: bisque;
  }
  .navbar.open{
    right: 2%;
  }
}

/*Home*/
section{
  padding: 60px 14% 70px ;
}
.home{
  position: relative;
  width: 100%;
  height: 100vh;

}
 
  /*.display-bottomleft{
    position: absolute; /* Make the text a positioned element */
    /*left: 10px; /* Position the text 10 pixels from the left of the container */
    /*z-index: 1;
    color: white;
    bottom: 10px;
    left: 10px;
    font-size: 3em;
    display: flex;
    color: lightgray;
    font-family:sans-serif;
  }
  
  hr {
    width: 150%;
    clear: both;
    margin-top: 40px;
  }
  
  
  .row-padding{
    display: flex;
    padding-top: 10px;
    padding-left: 40px;
  }
  
  .image{
  margin-right: 30px;
  }
  
  .menu {
    width: 50%;
    height: 600px;
    align-items: left;
    padding-top: 90px;
    padding-left: 30px;
  }
  .menutext {
    width: 50%;
    text-align: right;
    padding-left: 100px;
  }
  
  
  .menutext ul{
      list-style: none; /* Remove the default list styling */
 /* }
   
  .menu li {
    display: inline-block;  /* Display the list items as inline blocks */
   /* margin-right: 10px;  /* Add space between the list items */
  /*}
  
  .menutext li{
    color: rgb(128, 128, 128);
  }
  
  .center{
    padding-top: 40x;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c29e31;
    color: #333;
  }
  
  .logo:hover{
    background-color: rgb(218, 197, 114);
  }
  
  /*nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    border: 1px solid #333;
    color: #333;
    text-decoration: none;
    text-align: center;
  }
  
  /*contact*/
  
  /*.contactus {
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
   
  }
  
  .contact {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    background-color: lightgray;
  }
  
  /*form*/
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
  }
  button:hover{
    background-color: rgb(220, 166, 86);
    border: 2px solid rgb(0, 0, 0);
  }
   
  /*footer*/
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(220, 166, 86);;
    color: rgb(3, 3, 3);
    padding: 20px;
    height: 50px;
  }
  
  
  