 /* Slider */
  .slide {
    display: none;
  }
  .slidshow-container {
    position: relative;
    width: 95%;
    margin: auto;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    opacity: 70%;
    transition: 0.3s ease;
    user-select: none;
  }
  .next {
    right:0%;
  }
  .prev:hover,
  .next:hover {
    background-color: #7c8c3c;
  }
  .sliderImages {
    width: 100%;
    border-radius: 20px;
  }
  
.slide-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}

/*navbar*/
    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: rgb(220, 166, 86);
      height: 50px;
    }
    .logo{
      color: #ffffff;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    .logo i{
      color: rgb(250, 250, 250);
      font-size: 28px;
      margin-left: 100px;
    }
    .logo span{
      color: rgb(14, 13, 13);
      font-size:1.1rem ;
      font-weight:600 ;
    }
  
    .navbar{
      justify-content: center;
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .navbar li{
      margin: 0 20px;
    }
    .main a:not(.user) {
      margin-left: 20px;
    }
    .navbar a{
      color: var(--text-color);
      font-size: 1.1rem;
      font-weight: 500;
      padding: 5px 0;
      margin: 0px 30px;
      transition: all .50s ease;
      text-decoration: none;
    }
    .navbar a:hover{
      color:rgb(241, 241, 241) ;
    }
    .navbar a.bar-item-btn{
      color:rgb(255, 253, 253) ;
    }
    
    .main{
      display: flex;
      text-align: center;
      justify-content:right ;
      top: 10px;
    }
    .main a{
      margin-right: 10px;
      margin-left: 10px;
      color: black;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 500;
      transition: all .50s ease;
    }
    .user{
      display: flex;
      align-items: center;
    }
    .user i{
      color:rgb(255, 255, 255) ;
      font-size: 20px;
    }
    .main a:hover{
      color:rgb(255, 251, 251) ;
    }
    #menu-icon{
        font-size: 25px;
        color: black;
        cursor: pointer;
        z-index: 10001;
    } 
    
    .klasa1 {
      display: flex;
      align-items: right;
    }
    
    .about{
      width: 600px;
      height: 600px;
      float: right;
      margin: 10px;
      padding-left: 50px;
    }
  
    /*Kjo eshte per responsive*/
    @media(max-width:1280px){
      header{
        padding: 14px 2%;
        transition: .2s;
        z-index: 1;
        position: relative;
      }
      .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
      }
      section{
        padding: 40px 3% 50px;
      }
    }
    @media(max-width:1090px){
      #menu-icon{
        display: block;
        font-size: 25px;
        color: black;
        cursor: pointer;
        z-index: 2;
        position: relative;
      }
      .navbar{
        position: absolute;
        top: 100%;
        right: 2%;
        width: 270px;
        height: 35vh;
        background: rgb(220, 166, 86);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
      }
      .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
      }
      .navbar a:hover{
        color: white;
        transform: translateY(5px);
      }
      .navbar a:active  {
        color: bisque;
        top: 100%;
    }
    .navbar.open{
      right: 2%;
    }
    .navbar.show {
      display: flex;
    }
  }
  
 /*Home*/
section{
  padding: 60px 14% 70px ;
}
.home{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../web2/img/pasta.png);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.home-text h1{
  font-family: 'Lackerli One'  , cursive;
  font-size: 30px;
  color: white;
  line-height: 1.3;
  margin-bottom: 25px;
}

.home-text p{
  color: white;
  line-height: 33px;
  margin-bottom: 50px;
}

.btn{
  padding: 20px 35px;
  background: #333;
  color: white;
  font-size:14px ;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
  transition: all .50s ease;
}
.btn:hover{
    background-color:rgb(220, 166, 86); 
}
.scroll-top{
  position: fixed;
  bottom: 2.3rem;
  right: 2.3rem;

}
.scroll-top i{
  background-color: #333;
  color: #ccc;
  font-size: 10px;
  padding: 12px;
  border-radius: 30px;
}

/*About*/
.about{
  height: 100vh;
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.abouttext{
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}
.content{
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display:flex ;
  flex-wrap:wrap ;
  align-items: center;
  justify-content: space-around;
  

}
.abouttext h2{
  margin-top: 150px;
  color: #a16a3d;
  font-size: 35px;
  font-family: 'Open Sans';
}
.abouttext p{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.abouttext h3{
  font-family: 'Open Sans';
}

hr{
  border: black 1px;
}

/*Menu*/
hr {
  border: none;
  border-top: 1px solid black;
  margin: 5px 0;
}


.menu{
  max-width: 1200px;
  margin: 100px auto;
  margin-top: 100px;
}

.section-title{
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2{
  text-transform: capitalize;
  font-size: 35px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.section-title h2::before{
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #265df2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menus{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-column{
  width: calc(33.33% - 20px);
  margin-right: 20px;
}

.menu-column:last-of-type {
  margin-right: 0;
}

.menu-column h4{
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
}

.menu-column h4::before{
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #265df2;
  bottom: 0;
}

.single-menu{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.single-menu img{
  height: 95px;
  width: 95px;
  border-radius: 50%;
  max-width: 110px;
  border: 1px dashed #ddd;
  padding: 3px;
  margin-right: 15px;
}

.single-menu .menu-content h5{
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px dashed #222;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.single-menu .menu-content h5 span{
  color: tomato;
  float: right;
  font-weight: 600;
  font-style: italic;

}

@media only screen and (max-width: 1199px) and (min-width: 992px){
  .menu-column{
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 991px){
  .menu-column{
    width: 100%;
    margin-right: 0;
  }
}
    /*kontakti regjistrimi*/
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    
    label {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 5px;
      color: #333;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    input[type="time"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 14px;
    }
    
    button[type="submit"] {
      width: 100%;
      background-color: #333;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      width: 100%;
    }
    button:hover{
      background-color: rgb(220, 166, 86);
      border: 2px solid rgb(0, 0, 0);
    }
     
    /*footer*/
    
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(220, 166, 86);;
      color: rgb(3, 3, 3);
      padding: 20px;
      height: 50px;
    }
    
    body{
      background-color: rgb(228, 200, 159);
      
    }
 
    .slidshow-container h1{
      text-transform: capitalize;
      font-size: 30px;
      position: relative;
      display: flex;
      padding-bottom: 20px;
      margin-bottom: 10px;
      justify-content: center;
      text-align: center;
    }
    .slidshow-container h1::before{
      content: '';
      position: absolute;
      width: 60px;
      height: 3px;
      background-color: #265df2;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .slidshow-container p {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      line-height: 1.6;
      color: #555;
      background-color: #f9f9f9;
      padding: 25px;
      border-radius: 15px;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
      border-style: double;
    }
    